<div class="container profile-container">
    <div class="card profile-card shadow">
      <div class="card-header text-center">
        <h2 class="card-title">Il Mio Profilo</h2>
      </div>
      <div class="card-body">
        <div class="text-center mb-4">
          <img src="https://via.placeholder.com/150" alt="Profile Picture" class="rounded-circle profile-picture">
          <h4 class="mt-3">{{ user.name }} {{ user.surname }}</h4>
          <p class="text-muted">{{ user.email }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>Ruolo:</strong>
            <span>{{ user.role }}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>Data di Creazione:</strong>
            <span>{{ user.formattedCreatedAt }}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>Numero di Listings Creati:</strong>
            <span>{{ user.listingsCount }}</span>
          </li>
        </ul>
      </div>
      <div class="card-footer text-center">
        <button class="btn btn-primary" (click)="navigateToEdit()">Modifica Profilo</button>
      </div>
    </div>
  </div>
  