/* Container principale per la pagina dell'asta */
.auction-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Intestazione dell'asta */
.auction-header {
  text-align: center;
  margin-bottom: 30px;
}

.auction-title {
  font-size: 2.5rem;
  color: #333;
  font-weight: bold;
}

/* Contenuto principale dell'asta */
.auction-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Sezione dell'immagine */
.auction-image-container {
  flex: 1 1 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.auction-image-container img {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: contain; /* Assicura che l'immagine sia contenuta senza tagliarla */
}

/* Sezione dei dettagli dell'asta */
.auction-details {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.book-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.book-author {
  font-size: 1.2rem;
  color: #888;
  margin-bottom: 20px;
}

.book-description {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
  line-height: 1.6;
}

.book-rating {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.auction-info {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
}

.current-bid, .highest-bidder, .time-remaining {
  flex: 1 1 30%;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.current-bid h3, .highest-bidder h3, .time-remaining h3 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 5px;
}

.current-bid p, .highest-bidder p, .time-remaining p {
  font-size: 1.5rem;
  color: #000;
  font-weight: bold;
}

/* Pulsante per piazzare un'offerta */
.place-bid-btn {
  background-color: #3498db;
  color: #fff;
  padding: 15px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.place-bid-btn:hover {
  background-color: #2980b9;
}
.contact-seller-btn {
  background-color: #e67e22;
  color: #fff;
  padding: 15px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 15px;
}

.contact-seller-btn:hover {
  background-color: #d35400;
}


/* Aggiustamenti per dispositivi mobili */
@media (max-width: 768px) {
  .auction-content {
    flex-direction: column;
  }

  .auction-image-container, .auction-details {
    flex: 1 1 100%;
  }
}
